
.Accordion_Menu .banner {
	mix-blend-mode: difference;
}

.Card_OS .banner {
	mix-blend-mode: difference;
	
}

.Custom_Checkbox_Design {
	background-image: url(../asset/src/Custom_Checkbox_Design/screen/checkbox_off.png);
	background-size: 400%; 
	background-position:  -37.5rem -22rem; 
}
.Custom_Checkbox_Design .banner {
	mix-blend-mode: difference;
}
.Custom_Checkbox_Design:hover {
	background-size: 129%; 
	background-position:  -4.2rem -10.4rem; 
	background-image: url(../asset/src/Custom_Checkbox_Design/screen/Custom_Checkbox_Design2.gif);
}
