*{
	margin: 0;
}
body{
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background: #191919;
}
.multi-button{
	width: 500px;
	height: 400px;
	position: relative;
}
button{
	border-radius: 50%;
	background: #131313;
	height: 60px;
	width: 60px;
	font-size: 18px;
	outline: none;
	border: 1px solid #fff;
	color: #fff;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transition: all .5s ease;
	transform: translate(-50%, -50%);
}
.left_btn{
	bottom: 130px;
	left: 180px;
	background: #BF2E97;
}
.center_btn{
	bottom: 200px;
	background: #2D39A1;
}
.right_btn{
	bottom: 130px;
	left: 330px;
	background: #F2C335;
}
.expand_btn{
	transform: rotate(180deg);
	height: 80px;
	width: 80px;
	font-size: 30px;
}
[data-position*="expand"]{
	background: #05193A;
}
[data-position]:not([data-position*="expand"]):hover{
	background: #333;
	height: 65px;
	width: 65px;
}